

<div class="container">
	<div class="row">
		<div class="col-md-4" style="text-align: right;">
			<div style="margin: 10px;">
				<h3>Latest blog posts</h3>
				<ul style="list-style: none;">
					<li><a href="#" style="display: block; padding: 5px; margin: 5px;">Using the HTML5 Fullscreen API for Phishing Attacks</a></li>
					<li><a href="#" style="display: block; padding: 5px; margin: 5px;">How To Set Up Your Linode For Maximum Awesomeness</a></li>
					<li><a href="#" style="display: block; padding: 5px; margin: 5px;">Thoughts on free will</a></li>
					<li><a href="#" style="display: block; padding: 5px; margin: 5px;">Open sourcing several projects</a></li>
				</ul>
			</div>
			<div style="margin: 10px;">
				<h3>Last updated projects</h3>
				<ul style="list-style: none;">
					{{#each repositories}}
						<li><a href="/projects/{{name}}" style="display: block; padding: 5px; margin: 5px;">{{name}}</a></li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-5" style="text-align: right;">
			<div style="margin: 10px;">
				<h1>Hi!</h1>

				<p>My name is Michiel van der Velde,<br />
				and this is my home on the interwebz.</p>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
